<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>RageMP</title>
        <script src="../../source/js/jquery-3.3.1.min.js"></script>
        <link href="../../source/css/reset.css" rel="stylesheet"/>
        <link href="../../source/css/global.css" rel="stylesheet"/>
        <link href="../../source/css/jquery-ui.min.css" rel="stylesheet"/>
        <script src="../../source/js/jquery-ui.min.js"></script>

        <link type="text/css" rel="stylesheet" href="../../source/css/font-awesome.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../../source/css/iziToast.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="../../source/js/slick.min.js"></script>
        <script type="text/javascript" src="../../source/js/iziToast.min.js"></script>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body>
    	<div id="login" class="window login" style="left:50%;top:50%;--width:300px;">
            <div class="head">Anmelden</div><br>
            <div class="username">
                <input id="join_username" class="input"></input>
            </div>
            <div class="password">
                <input id="join_password" class="input" type="password"></input>
            </div>
            <div class="button green" onclick="Account.login()">Login</div>
            <div class="button outline small" onclick="Account.toggle('register','login')">Account erstellen</div>
        </div>

    	<div id="register" class="window login" style="left:50%;top:50%;--width:430px;display:none;opacity:0">
            <div class="head">Registrieren</div><br>
            <div class="username">
                <input id="reg_username" class="input"></input>
            </div>
            <div class="password">
                <input id="reg_password" class="input" type="password"></input>
            </div>
            <div class="password">
                <input id="red_password2" class="input" type="password"></input>
            </div>
            <div class="mail">
                <input id="reg_email" class="input" ></input>
            </div>
            <div class="button green" onclick="Account.register()">Registrieren</div>
            <div class="button outline small" onclick="Account.toggle('login','register')">Anmelden</div>
        </div>




        <script src="js/app.js">
        </script>
    </body>
</html>