<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../source/css/font-awesome.css">
    <link rel="stylesheet" href="../../source/css/global.css">
    <link rel="stylesheet" href="style/style.css">

    <script src="../../source/js/jquery-3.3.1.min.js"></script>
    <script src="../../source/js/jquery-ui.min.js"></script>

</head>
<body >
	<!-- Context-Menu-->
	<div id="context_menu" style="display:none;" >
		<div class="option">Drop</div>
		<div class="option">Equip</div>
		<div class="option">Insert Into Anus</div>
	</div>

	<script type="" src="script/script.js"></script>
</body>
</html>