/*@font-face {
    font-family: 'Glyphter';
    src: url('./images.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'Technology';
    src: url('./Technology.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphter';
    src: url('./glyphter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    overflow: hidden;
}
.interaction_key {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1ms linear;
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
}
.interaction_key.show {
    position: absolute;
    animation: ShrinkIn 400ms;
    animation-iteration-count: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 1ms linear;
}
.interaction_key.error {
    position: absolute;
    animation: shake 0.2s;
    animation-iteration-count: 1;
    transition: all 1ms linear;
}
.interaction_key.success {
    position: absolute;
    animation: ShrinkOut 500ms;
    animation-iteration-count: 1;
    transform: translate(-50%, -50%) scale(0);
}
@keyframes shake {
    0% {
        transform: translate(-53%, -50%);
    }
    50% {
        transform: translate(-47%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
@keyframes ShrinkOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes ShrinkIn {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }
    40% {
        transform: translate(-50%, -50%) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.interaction_info {
    position: absolute;
    transform: translate(-75%, -50%) scale(0.04, 1) !important;
    color: #FFF;
    text-align: left;
    font-size: 1.7vh;
    text-shadow: 0px 0px 15px #000;
    transition: all 200ms linear;
    z-index: 0;
}
.interaction_info.show {
    position: absolute;
    transform: translate(0%, -50%) scale(1, 1) !important;
    transition: all 200ms linear;
    opacity: 1;
}
.interaction_info.fadeleft {
    position: absolute;
    opacity: 0;
    transform: translate(-75%, -50%) scale(0.04, 1) !important;
    transition: all 200ms linear;
}
#player_hud {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.9;

}
#player_hud>.cash {
    position: absolute;
    width: 400px;
    padding-left: 35px;
    line-height: 25px;
    font-weight: 400;
    font-size: 25px;
    color: #FFF;
    text-shadow:
    1px 0 0 rgba(0,0,0,0.5),
    -1px 0 0 rgba(0,0,0,0.5),
    0 1px 0 rgba(0,0,0,0.5),
    0 -1px 0 rgba(0,0,0,0.5),
    1px 1px rgba(0,0,0,0.5),
    -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5);
}
#player_hud>.cash::first-letter {
    padding-right: 3px;
    font-size: 20px;
}
#player_hud>.cash::before {
    font-family: Glyphter;
    content: "\0041";
   /* background-image: url(wallet.svg)*/
    top: -2px;
    left: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
}
#player_hud>.hunger {
    position: absolute;
    width: 400px;
    top:35px;
    padding-left: 35px;
    line-height: 25px;
    font-weight: 400;
    font-size: 25px;
    color: #FFF;
    text-shadow:
    1px 0 0 rgba(0,0,0,0.5),
    -1px 0 0 rgba(0,0,0,0.5),
    0 1px 0 rgba(0,0,0,0.5),
    0 -1px 0 rgba(0,0,0,0.5),
    1px 1px rgba(0,0,0,0.5),
    -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5);
}
#player_hud>.hunger::first-letter {
    padding-right: 3px;
    font-size: 20px;
}
#player_hud>.hunger::before {
    font-family: Glyphter;
    content: '\0045';
   /* background-image: url(wallet.svg)*/
    top: -2px;
    left: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
}

#player_hud>.hunger >.bar {
    position: absolute;
    width:25%;
    margin-top:7px;
    height:11px;
    background:rgba(0,0,0,0.5);
    border-radius:50px;
    box-shadow: 0px 0px 2.5px 2.5px rgba(180,180,180,0.1);
}




#player_hud>.world {
    position: absolute;
    bottom: 1.2vh;
        text-shadow:
    1px 0 0 rgba(0,0,0,0.5),
    -1px 0 0 rgba(0,0,0,0.5),
    0 1px 0 rgba(0,0,0,0.5),
    0 -1px 0 rgba(0,0,0,0.5),
    1px 1px rgba(0,0,0,0.5),
    -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5);
}
#player_hud>.world>.time {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
}
#player_hud>.world>.date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: rgb(220, 220, 220);
}
#tacho {
    position: absolute;
    transform: translate(-100%, 0%) rotate3d(0, 1, 0, 0deg);
    left: 100%;
    margin: auto;
    bottom: 0%;
    width: 28vh;
    height: 28vh;
}